body{
    background-size: cover;
}
#note{
 color: #192063;
 font-size:15px;
}
#title{
color:#192063;
font-size:29px;
background-color:#e8eafa;
width:100%;
border-radius: 15px;
margin-top: 0;
box-shadow: 10px 5px 20px gray;
}
#div_speed img{
    width:150px;
    height:150px;

}
#div_speed{
float: left;
    margin-left: 9px;
}
#div_volume{
    margin-right: 9px;
    float:right;
}
#div_volume img{
    width:150px;
    height:150px;
}
#bplay{
    font-size: 18px;
    text-align:center;
    margin-top:-10px;
}
#bstop{
    font-size: 18px;
    text-align:center;
    margin-top:-10px;
}

canvas{
    border-style: dotted;
    border-color: white;
}